<html>
<head>
  <title>Comments</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="javascripts/app.js"></script>

</head>
<body ng-app="comment" ng-controller="MainCtrl">
<div class="row">
<div class="col-md-6 col-md-offset-3">
<div class="page-header"> 
  <h1>Comments </h1>
</div>

  <form ng-submit="addComment()" style = "margin-top30px;">
    <input type="text" ng-model="formContent"></input>
    <button type="submit">Add Comment</button>
  </form>
  <div>
    {{test}}
  </div>
  <div ng-repeat="comment in comments | orderBy: '-upvotes'">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)" style="cursor: pointer;"></span>
    {{comment.title}} - upvotes: {{comment.upvotes}} <span style="float: right;" ng-show="comment.timeOfPost"> Posted at {{comment.timeOfPost}}</span>
  </div>
</div>
</div>
</body>
</html>
